/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 767px ****************************************/

@media screen and (min-width: 768px) {

    /**********************************************************************************************/
    /********************************************* header *****************************************/
    /**********************************************************************************************/

	.navbar-closed {
		height: 10vw; 
	}
	
	.navbar-open {
		height: 62vw;
	}

	.navbar__button-x {
		top: 4vw;
		right: 4.2vw;
		font-size: 2.624vw;
	}
	
	.navbar__button-bars {
		top: 4.3vw;
		right: 4.2vw;
		font-size: 2.1vw;
	}

	.nav__menu__logo-nai {
		margin-top : 2.8vw;
	}
	
	.container-button {
		top: 3.5vw;
		right: 8vw;
		width: 8.5vw;
	}
	
	.nav__menu__button {
		padding: .68vw .8vw .68vw .8vw;
		font-size: 2.2vw; 
	}
	
	.nav__menu__alert {
		font-size: 2vw;
	}
	
	.navbar__menu__text:hover {
		margin-left: 1.7vw;
	}
	
	.actu-container {
		top: 10vw;
		padding-left: 1.5vw;
		padding-right: 1.5vw; 
		border-radius: 2.5vw;
	}
	
	.actu-container__closed {
		right: 3vw;
    	margin-top: 3vw;
		font-size: 2.5vw;
	}
	
	.actu-container>header>h1 {
		margin: 8vw 2vw 0vw 2vw;
		letter-spacing: .05vw;
		line-height: 4vw;
		font-size: 2.5vw;
	}
	
	.actu-form {
		padding-top: 1.5vw;
		height: 40vw;
		border-radius: 1vw;
	}
	
	.actu-form > p {
		font-size: 2.5vw;
	}
}

/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 991px ****************************************/

@media screen and (min-width: 992px) {

    /**********************************************************************************************/
    /********************************************* header *****************************************/
    /**********************************************************************************************/

	.navbar-closed {
		height: 8vw;
	}

	.navbar__button-x {
		top: 2.8vw;
	}
	
	.navbar__button-bars {
		top: 3vw;
	}

	.nav__menu__logo-nai {
		margin-top : 2vw;
		width: 10vw;
	}

	.container-button {
		top: 2.25vw;
		right: 8vw;
		width: 27.3vw;
	}

	.nav__menu__button {
        padding: 1vw;
		font-size: 1.5vw;
    }

	.nav__menu__alert {
        padding: .8vw;
		font-size: 1.5vw;
		border: solid 2px rgba(255, 255, 255, .3);
	}

	.nav__menu__alert:hover {
		border: solid 2px rgba(255, 255, 255, .3);
	}

	.nav__menu__alert--gray {
		border: solid 2px rgba(206, 39, 73, .5);
	}

	.nav__menu__alert--tranparent {
		border: solid 2px rgba(255, 255, 255, .4);
	}

	.navbar__menu {
		top: 15vw;
		width: 30vw;
	}

	.navbar__menu__text {
		font-size: 2vw;
	}

	.navbar__menu__text:hover {
		margin-left: 2vw;
	}

	.nav__menu__link-header {
        margin-top: 1.5vw;
		font-size: 1.7vw;
        letter-spacing: .073vw;
    }

	.nav__menu__text {
		font-size: 1.5vw;
	}

    .actu-container {
		border-radius: 1.5vw;
	}
	
	.actu-container>header>h1 {
		margin: 6vw 2vw 0vw 2vw;
		line-height: 2vw;
		font-size: 2.2vw;
	}
	
	.actu-form {
		padding-top: 1vw;
		height: 30vw;
		border-radius: .5vw;
	}
	
	.actu-form > p {
		font-size: 2vw;
	}
}

/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 1199px ****************************************/

@media screen and (min-width: 1200px) {

    /**********************************************************************************************/
    /********************************************* header *****************************************/
    /**********************************************************************************************/
	.navbar-closed {
		height: 7vw;
	}
	
	.navbar-open {
		height: 55vw;
	}

	.navbar__button-x {
		top: 2.6vw;
		right: 5vw;
		font-size: 2vw;
	}
	
	.navbar__button-bars {
		top: 2.8vw;
		right: 5vw;
		font-size: 1.66vw;
	}
	
	.navbar__menu-open {
		top: 2.5vw;
		height: auto;
		padding-top: 0;
		padding-bottom: 0;
	}

	.nav__menu__logo-nai {
		margin-top : 2vw;
		width: 8vw;
	}

	.container-button {
		top: 2vw;
		right: 9.6vw;
		width: 23vw;
	}

	.nav__menu__button {
		font-size: 1.2vw;
    }

	.navbar__menu {
		top: 10vw;
	}

	.navbar__menu__text {
		font-size: 1.8vw;
	}

	.navbar__menu__text:hover {
		margin-left: 2vw;
	}

	.actu-container {
		border-radius: 1vw;
	}

	.actu-container__closed {
		right: 2vw;
    	margin-top: 2vw;
		font-size: 2vw;
	}
	
	.actu-container>header>h1 {
		margin: 5vw 2vw 0vw 2vw;
		line-height: 1.5vw;
		font-size: 1.8vw;
		letter-spacing: .025vw;
	}
	
	.actu-form {
		padding-top: .5vw;
		height: 25vw;
		border-radius: .25vw;
	}
	
	.actu-form > p {
		font-size: 1.8vw;
	}
}