/**********************************************************************************************/
/********************************************* header *****************************************/
/**********************************************************************************************/

.navbar {
	position: fixed;
	width: 100%;
	z-index: 50000;
}

.navbar-open {
	background-color: rgb(6, 17, 22);
	height: 230vw;
	transition: height .4s, background-color 1.5s;
	overflow: hidden;
}

.navbar-closed {
	height: 30vw;
	background-color: rgb(16, 31, 38);
	transition: height .3s, background-color .8s;
}

.nav__menu__logo-nai {
	margin-top : 11vw;
	margin-left: 5vw;
	width: 25vw;
	height: auto;
}

.container-button {
	position: absolute;
	top: 11.5vw;
	left: 51.8%;
	transform: translate(-50%, 0);
	display: flex;
	width: 66.4vw;
	height: auto;
	justify-content: space-between;
}

.nav__menu__button {
	border: none;
	padding: 2.2vw 2vw 2.2vw 2vw;
	border-radius: 5px;
	font-size: 3.8vw;
	font-weight: 600;
	letter-spacing: .2vw;
	color: white;
	cursor: pointer;
}

.nav__menu__button:hover {
	filter: brightness(120%);
	transition: filter .4s;
}

.nav__menu__filtre {
	background-color: rgb(206, 39, 73);
	transition: filter .4s;
}

.nav__menu__alert {
	padding: .68vw 1vw .68vw 1vw;
	font-size: 5vw;
	border: solid 1px rgba(255, 255, 255, .3);
	background-color: transparent;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color .4s;
}

.nav__menu__alert:hover {
	color: white;
	background-color: rgba(255, 255, 255, .5);
	border: solid 1px rgba(255, 255, 255, .3);
	transition: background-color .4s;
}

.nav__menu__alert--gray {
	color: rgb(206, 39, 73);
	border: solid 1px rgba(206, 39, 73, .5);
}

.nav__menu__alert--tranparent {
	color: white;
	border: solid 1px rgba(255, 255, 255, .4);
}

.navbar__menu {
	position: absolute;
	text-align: left;
	flex-direction: column;
	flex-wrap: nowrap;
	top: 60vw;
	left: 50%;
	transform: translate(-50%, 0);
	width: 70vw;
}

.navbar__menu-open {
	display: flex;
	transition: .4s;
}

.navbar__menu-closed {
	display: none;
	transition: .4s;
}

.navbar__menu__text {
	margin-left: 0;
	font-weight: 600;
	font-size: 4.8vw;
	line-height: 1vw;
	letter-spacing: .3vw;
	color: white;
	cursor: pointer;
	transition: color .4s, margin-left .4s;
}

.navbar__menu__text:hover {
	margin-left: 5vw;
	color: rgb(206, 39, 73);
	transition: color .4s, margin-left .4s;
}

.back1 {
	display: block;
}

.back2 {
	display: none;
}

.group {
    position: absolute;
	display: none;
    left: 50%;
    transform: translate(-50%, 0);
    top: 0;
    width: 100%;
    height: auto;
    filter: brightness(80%);
	opacity: .5;
	z-index: -1;
}

.logo-hidden {
	opacity: 0;
}

.logo-visible {
	opacity: 9;
}

.navbar__button-x {
	position: absolute;
    float: right;
	top: 14.5vw;
	right: 8.2vw;
	font-size: 4.4vw;
	color: white;
	transition: color .4s;
	cursor: pointer;
	z-index: 500;
}

.navbar__button-x:hover {
	color: rgb(204, 1, 1);
	transition: color .4s;
}

.navbar__button-bars {
	position: absolute;
    float: right;
	top: 14.5vw;
	right: 8.2vw;
	font-size: 4.4vw;
	color: white;
	cursor: pointer;
	z-index: 500;
}

.nav__menu__text {
	margin-top: 2vw;
	font-size: 4vw;
	cursor: pointer;
}

.nav__menu__text:hover {
	text-decoration: underline;
	text-underline-position: under;
}

.actu-container {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    top: 40vw;
    padding-left: 5vw;
    padding-right: 5vw; 
    width: 90vw;
    height: auto;
    border-radius: 5vw;
    background-color: white;
	font-family: Open, sans-serif;
    color: black;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    z-index: 8500;
}

.actu-container__closed {
    position: absolute;
    right: 5vw;
    margin-top: 5vw;
    font-size: 5vw;
    cursor: pointer;
	color: rgb(148, 148, 148);
    transition: color .4s;
}

.actu-container__closed:hover {
    color: rgb(204, 1, 1);
    transition: color .4s;
}

.actu-container>header>h1 {
	text-align: center;
	margin: 20vw 2vw 5vw 2vw;
	letter-spacing: .05vw;
	line-height: 6.5vw;
	font-size: 4.8vw;
	font-weight: bold;
	color: rgb(206, 39, 73);
}

.actu-form {
	margin: 5vw auto 5vw auto;
	padding-top: 5vw;
	text-align: center;
	width: 90%;
	height: 100vw;
	border: solid 1px transparent;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.actu-form > p {
	font-size: 4.5vw;
}

/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 450px ****************************************/

@media screen and (min-width: 451px) {

    /**********************************************************************************************/
    /********************************************* actu ******************************************/
    /**********************************************************************************************/
	
	.navbar-closed {
		height: 8vw;
	}
	
	.navbar-open {
		height: 56.43vw;
	}

	.navbar__button-x {
		top: 3vw;
		right: 4.2vw;
		font-size: 2.624vw;
	}
	
	.navbar__button-bars {
		top: 3.3vw;
		right: 4.2vw;
		font-size: 2.1vw;
	}


	.back1 {
		display: none;
	}
	
	.back2 {
		display: block;
	}

	.navbar__menu {
		display: flex;
		flex-wrap: wrap;
		width: 90vw;
	}
	
	.nav__menu__link {
		width: auto;
		padding-top: 0vw;
		padding-left: 0vw;
		padding-bottom: 0vw;
		line-height: 0;
		letter-spacing: .175vw;
		font-size: 3vw;
	}

	.nav__menu__link-header {
        margin-top: 2.2vw;
		font-size: 2vw;
        letter-spacing: .087vw;
    }
	
	.nav__menu__text {
		margin-top: 1.4vw;
		font-size: 1.8vw;
	}

    .actu {
        margin-right: 8vw;
    }

    .actu:hover {
        text-decoration-thickness: .175vw;
    }

	.b-contact {
		display: block;
		margin-right: .6vw;
	}

	.devis {
		float: left;
		margin-left: 4vw;
	}

	.devis-hidden {
		display: none;
	}

	.devis-visible {
		display: block;
	}

	.actu-container {
        top: 100px;
        padding-left: 25px;
        padding-right: 25px;
        border-radius: 30px;
    }
    
    .actu-container__closed {
        right: 25px;
        margin-top: 20px;
        font-size: 30px;
    }

    .actu-container>header>h1 {
        margin: 50px 2vw 20px 2vw;
        letter-spacing: 1px;
		line-height: 30px;
        font-size: 22px;
		font-weight: bold;
		color: rgb(206, 39, 73);
    }

	.actu-form {
		margin: 20px auto 10px auto;
		padding-top: 20px;
		text-align: center;
		width: 90%;
		height: 350px;
		border: solid 1px transparent;
		border-radius: 10px;
		box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
	}

	.actu-form > p {
		font-size: 20px;
	}
    
    .actu-container>p {
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 1px;
    }
}