/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 767px ****************************************/

@media screen and (min-width: 768px) {

    /**********************************************************************************************/
    /***************************************** pages-headers **************************************/
    /**********************************************************************************************/
    
    .header-rubrik {
        padding-top: 3vw;
        padding-bottom: 5vw;
    }
    
    h2 {
        font-size: 2.6vw;
        letter-spacing: .0275vw;
    }

    .header-logo {
        width: 6vw;
        margin-top: 2vw;
        margin-bottom: 1.5vw;
    }

    h3 {
        margin-top: 3vw;
        padding-left: 14vw;
        padding-right: 14vw;
        font-size: 3vw;
        letter-spacing: .0437vw;
        background: rgb(60, 78, 85);
        /*background-image: 
        url("https://www.transparenttextures.com/patterns/cubes.png"),
        linear-gradient(to right, rgb(137, 152, 158), rgb(54, 72, 84), rgb(16, 31, 38));*/
    }

    h4 {
        font-size: 2vw;
        margin-left: 7vw;
        margin-right: 7vw;
        line-height: 3vw;
    }

    .paragraph {
        margin-left: 9.45vw;
        margin-right: 9.45vw;
        margin-bottom: 4.8vw;
        font-weight: 300;
        font-size: 1.75vw;
        line-height: 2.275vw;
        letter-spacing: .0875vw;
    }

    .why {
        margin-top: -2.625vw;
        margin-bottom: 4.375vw;
        padding: 0 5vw 5vw 5vw;
        font-size: 2.6vw;
    }

    .why>header {
        margin-bottom: 3.5vw;
    }

    .pagination {
        top: 5.3vw;
        left: 50vw;
    }

    .why>p{
        margin-top: 0;
        margin-left: 1.75vw;
        margin-right: 1.75vw;
        margin-bottom: 4vw;
        font-size: 2vw;
        line-height: 2.5vw;
    }
}

/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 991px ****************************************/

@media screen and (min-width: 992px) {

    /**********************************************************************************************/
    /***************************************** pages-headers **************************************/
    /**********************************************************************************************/

    .header-rubrik {
        padding-top: .875vw;
        padding-bottom: 4.375vw;
    }
    
    h2 {
        font-size: 2.3vw;
        letter-spacing: .0275vw;
    }

    .header-logo {
        width: 5vw;
    }

    h3 {
        margin-top: 2vw;
        padding-left: 14vw;
        padding-right: 14vw;
        font-size: 2.5vw;
        letter-spacing: .0437vw;
    }

    h4 {
        font-size: 1.5vw;
    }

    .paragraph {
        margin-left: 9.45vw;
        margin-right: 9.45vw;
        margin-bottom: 4.8vw;
        font-size: 1.75vw;
        line-height: 2.275vw;
        letter-spacing: .0875vw;
    }

    .why {
        margin-top: -2.625vw;
        margin-bottom: 4.375vw;
        padding: 0 4vw 4vw 4vw;
        font-size: 2.3vw;
    }

    .why>header {
        margin-bottom: 3vw;
    }

    .pagination {
        top: 4.5vw;
        left: 49.7vw;
        max-width: 4vw;
        height: 4vw;
        font-size: 2.5vw;
    }

    .why>p{
        margin-top: .875vw;
        margin-left: 1.75vw;
        margin-right: 1.75vw;
        font-size: 1.575vw;
        line-height: 2.187vw;
    }
}

/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 1199px ****************************************/

@media screen and (min-width: 1200px) {

    /**********************************************************************************************/
    /***************************************** pages-headers **************************************/
    /**********************************************************************************************/

    .section--padding {
        padding-top: 3.3vw;
    }
    
    .header-rubrik {
        padding-top: 1vw;
        padding-bottom: 3.65vw;
    }
    
    h2 {
        font-size: 2vw;
        letter-spacing: .073vw;
        z-index: 500;
    }

    .header-logo {
        margin-bottom: 1.6vw;
        width: 5.5vw;
        height: auto;
    }

    h3 {
        margin-top: 0;
        padding-left: 10vw;
        padding-right: 10vw;
        font-size: 2.774vw;
        letter-spacing: .1vw;
        line-height: 3.5vw;
        font-weight: 500;
    }

    h4 {
        margin-top: -1vw;
        font-size: 1.8vw;
        letter-spacing: .0365vw;
    }

    .paragraph {
        margin-left: 7.884vw;
        margin-right: 7.884vw;
        margin-bottom: 5vw;
        font-weight: 300;
        font-size: 1.46vw;
        line-height: 1.898vw;
        letter-spacing: .073vw;
    }

    .why {
        margin-top: -7.5vw;
        margin-bottom: -3.5vw;
        padding: 0 5vw 2vw 5vw;
        font-size: 2.2vw;
        font-weight: 700;
    }

    .why>header {
        margin-bottom: 1.5vw;
    }

    .pagination {
        top: 5vw;
        left: 20.9vw;
        max-width: 7vw;
        height: 7vw;
        font-size: 3.5vw;
    }

    .why>p{
        display: inline-block;
        margin-top: 5vw;
        margin-left: 1.8vw;
        margin-right: 1.8vw;
        font-size: 1.5vw;
        font-weight: 500;
        line-height: 1.9vw;
    }
}