/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 991px ****************************************/

@media screen and (min-width: 992px) {

    /**********************************************************************************************/
    /***************************************** pages-headers **************************************/
    /**********************************************************************************************/

    .section--padding {
        padding-top: 3.3vw;
        margin-top: -3.3vw;
    }
    
    .header-rubrik {
        padding-top: 1vw;
        padding-bottom: 3.65vw;
    }
    
    h2 {
        font-size: 2vw;
        letter-spacing: .073vw;
    }

    .header-logo {
        margin-bottom: 1.6vw;
        width: 5.5vw;
        height: auto;
    }

    h3 {
        margin-top: 0;
        padding-left: 10vw;
        padding-right: 10vw;
        font-size: 2.774vw;
        letter-spacing: .1vw;
        font-weight: 500;
    }

    h4 {
        margin-top: -1vw;
        font-size: 1.8vw;
        letter-spacing: .0365vw;
        line-height: 3.2vw;
    }

    .paragraph {
        margin-left: 7.884vw;
        margin-right: 7.884vw;
        margin-bottom: 5vw;
        font-weight: 300;
        font-size: 1.46vw;
        line-height: 1.898vw;
        letter-spacing: .073vw;
    }

    .why,
    .uploader {
        margin-top: -2.5vw;
        margin-bottom: -3.5vw;
        font-size: 2.2vw;
    }

    .why {
        padding: 0 5vw 0 5vw;
    }

    .uploader {
        padding: 0 5vw 10vw 5vw;
    }

    .why > header {
        margin-bottom: 0;
    }

    .pagination {
        top: 5vw;
        left: 20.9vw;
        max-width: 7vw;
        height: 7vw;
        font-size: 3.5vw;
    }

    .why > p {
        margin-top: 5vw;
        margin-left: 1.8vw;
        margin-right: 1.8vw;
        font-size: 1.8vw;
        line-height: 1.9vw;
    }

    .uploder__content {
        text-align: left;
        margin: 0 auto; 
        font-size: 1.8vw;
        font-weight: 500;
        line-height: 1.9vw;
        width: 40%;
    }
}

/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 1199px ****************************************/

@media screen and (min-width: 1200px) {

    /**********************************************************************************************/
    /***************************************** pages-headers **************************************/
    /**********************************************************************************************/
    
    .why,
    .uploader {
        margin-top: -7.5vw;
    }

    .why {
        padding: 0 5vw 0 5vw;
    }

    .why > p {
        font-size: 1.5vw;
    }
}