/************************************************************************************************************/
/********************************************* media queries ************************************************/
/********************************** New rules if the screen is at more 767px ********************************/
@media screen and (min-width: 768px) {
    .carrousel {
        width: auto;
        height: 60vw;
        border-radius: 10px;
    }
    
    .carrousel__pictures {
        object-fit: cover;
        max-width: 90.7vw;
        width: auto;
        height: auto;
        /*filter: brightness(80%);*/
    }
    
    .carrousel__button {
        width: 0;
        height: 0;
        background-color: rgba(0, 0, 0, 0);
        filter: drop-shadow(1px 3px 3px rgba(1, 1, 1, .35));
    }
    
    .carrousel__button__left {
        left: 3.26vw;
        margin-left: -0.2vw
    }
    
    .carrousel__button__right {
        right: 3.26vw;
        margin-right: -0.2vw
    }
    
    .carrousel__button__left:hover,
    .carrousel__button__right:hover {
        background-color: rgba(0, 0, 0, 0);
    } 
    
    .carrousel__button__arrow {
        width: 5.8vw;
        height: 3.4vw;
    }

    .carrousel__secteur {
        position: absolute;
        width: 100%;
        top: 2vw;
        margin: -2vw 0 0 0;
        padding: 2vw 3vw 2vw 3vw;
        display: inline-block;
        font-size: 1.8vw;
        line-height: 2.8vw;
        letter-spacing: .12vw;
        color: white;
        text-shadow: 1px 1px 5px rgb(1, 1, 1, .6);
        background-color: rgba(1, 1, 1, .3);
        /*background: linear-gradient(rgba(1, 1, 1, .6), transparent);*/
        z-index: 1000;
    }
    
    .carrousel__count {
        left: 50%;
        transform: translate(-50%, 0);
        border-radius: 0.3vw;
        padding: 0.5vw;
        font-size: 2.2vw;
        line-height: 143%;
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
    }
}