/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 767px ****************************************/
/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 991px ****************************************/

@media screen and (min-width: 992px) {

    /**********************************************************************************************/
    /****************************************** background ****************************************/
    /**********************************************************************************************/

    .background__button {
        top: -18.5vw;
    }
    
    .link__button__btn {
        margin-right: 1.2vw;
        font-size: 4vw;
    }
    
    .link__button__text {
        font-size: 1.8vw;
        letter-spacing: .04vw;
    }

    .background__plus {
        font-size: 3vw;
    }
}

/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 1199px ****************************************/

@media screen and (min-width: 1200px) {

    /**********************************************************************************************/
    /****************************************** background ****************************************/
    /**********************************************************************************************/

}