/**********************************************************************************************/
/********************************************* banner *****************************************/
/**********************************************************************************************/

.banner {
    position: relative;
    width: 100%;
    height: 204vw;
    margin-bottom: -5vw;
    overflow: hidden;
}

.banner__banner-background-m {
    width: 100%;
    height: auto;
}

.banner__banner-background {
    display: none; 
    width: 100%;
    height: auto;
}

.banner__picture1 {
    position: absolute;
    display: block;
    top: 14vw;
    left: 0;
    object-fit: contain;
    width: 100%;
    height: 100%;
    z-index: 3000;
}

.banner__picture2 {
    display: none;
}

.banner__picture--in {
    opacity: 1;
    transform: scale(1.08, 1.08);
    transition: all 2.5s ease;
}

.banner__picture--out {
    opacity: 0;
    transition: all 2.5s ease;
}

.banner__slogan {
    position: absolute;
    display: inline-block;
    top: 42vw;
    left: 12vw;
    font-family: 'Archivo Black', sans-serif;
    font-size: 7vw;
    color: rgb(228, 228, 228);
    line-height: 10.3vw;
    z-index: 3500;
}

.banner__slogan__span-1 {
    margin-left: -.465vw;
    font-size: 16.331vw;
    color: rgb(206, 39, 73);
}

.banner__slogan__span-2 {
    margin-left: -.465vw;
    font-size: 14vw;
    color: rgb(170, 181, 187);
}

.banner__logo-nai2 {
    position: absolute;
    display: inline-block;
    top: 80vw;
    left: -40vw;
    width: 150vw;
    height: auto;
    opacity: .3;
    filter: brightness(60%) grayscale(1);
}

/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 450px ****************************************/

@media screen and (min-width: 451px) {

    /**********************************************************************************************/
    /********************************************* banner *****************************************/
    /**********************************************************************************************/
    
    .banner {
        height: 59vw;
        margin-bottom: 0;
    }

    .banner__banner-background-m {
        display: none;
    }

    .banner__banner-background {
        display: block;
    }

    .banner__picture1 {
        display: none;
    }
    
    .banner__picture2 {
        position: absolute;
        display: block;
        top: 2vw;
        left: 0;
        object-fit: contain;
        width: 100%;
        height: auto;
        margin-bottom: -3vw;
        z-index: 3000;
    }

    .banner__slogan {
        top: 20vw;
        left: 12vw;
        font-size: 4vw;
        line-height: 6vw;
    }
    
    .banner__slogan__span-1 {
        margin-left: -.465vw;
        font-size: 9.266vw;
    }
    
    .banner__slogan__span-2 {
        margin-left: -.266vw;
        font-size: 8vw;
    }
    
    .banner__logo-nai2 {
        top: 6vw;
        left: -15vw;
        width: 70vw;
    } 
}