/********************************************* BiensContainer ************************************************/
/************************** New rules if the screen is at more 1199px ****************************************/

@media screen and (min-width: 1200px) {

    /**********************************************************************************************/
    /**************************************** BiensContainer **************************************/
    /**********************************************************************************************/

    .biensContainer__vide {
        margin: 5vw 0 0 0;
    }

    .biensContainer__button {
        margin: 3vw 0 0 0;
    }

    .biensContainer__select {
        margin-bottom: 3vw;
    }

    .biensContainer__select__label {
        font-size: 1.3vw;
    }

    .biensContainer__select__option {
        padding: .7vw;
        border-radius: 5px;
    }

    .biensContainer__select__option > option {
        font-size: 1vw;
    }

    .biensContainer__items {
        padding: 5vw;
    }

    .biensContainer__items__items {
        width: 28vw;
        height: 18.5vw;
        margin-bottom: 2.5vw;
        border-radius: 20px;
    }

    .biensContainer__items__items__covers {
        width: 28vw;
    }

    .biensContainer__items__items:hover>.biensContainer__items__items__covers,
    .biensContainer__items__items__exclu .biensContainer__items__items__covers {
        width: 31vw;
    }

    .biensContainer__items__items__exclu {
        width: 9vw;
        margin-top: 1.5vw;
        padding: .51vw;
        font-size: 1.3vw;
        letter-spacing: .073vw;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .biensContainer__items__items__content {
        bottom: 0;
        letter-spacing: .036vw; 
        line-height: 1.4vw;
        padding: 0 1.3vw 1.3vw 1.3vw;
        text-shadow: 0 0 .2em rgb(1, 1, 1), 0 0 0.1em rgb(1, 1, 1);
    }

    .biensContainer__items__items__content__secteur {
        font-size: 1.3vw;
        height: 2.6em; 
        line-height: 1.3em;
    }

    .biensContainer__items__items__content__prix {
        line-height: 1.3em;
        font-size: 1.5vw;
    }

    .biensContainer__items__items__content__description {
        line-height: 1.3em;
        font-size: 1.3vw;
    }

    .biensContainer__contentVente, .biensContainer__contentAchat {
        font-size: 1.3vw;
        line-height: 2vw;
        margin: -2vw auto 5vw auto;
    }
}
