/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 767px ****************************************/

@media screen and (min-width: 768px) {

    /**********************************************************************************************/
    /********************************** formulaire-de-recherche ***********************************/
    /**********************************************************************************************/
}

/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 991px ****************************************/

@media screen and (min-width: 992px) {

    /**********************************************************************************************/
    /********************************** formulaire-de-recherche ***********************************/
    /**********************************************************************************************/
    
}

/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 1199px ****************************************/

@media screen and (min-width: 1200px) {

    /**********************************************************************************************/
    /********************************** formulaire-de-recherche ***********************************/
    /**********************************************************************************************/
    
    .formulaire-de-recherche {
        display: block;
        flex-direction: inherit;
        height: 0;
        margin-left: -3vw;
        margin-right: 0;
        margin-bottom: 6vw; 
    }

    .container-form-tags {
        padding: 1vw 3vw 1vw 1vw;
        width: 82.4vw;
        margin: 0 auto 2.5vw auto;
        border-radius: .5vw;
    }

    .container-form-tags > p {
        margin: .57vw 0 .57vw 0;
        font-size: 1.2vw;
    }

    .tag {
        margin-left: .5vw;
        margin-top: .25vw;
        margin-bottom: .25vw;
        padding: .5vw .8vw .5vw .8vw;
        font-size: .9vw;
        border-radius: .35vw;
    }

    .tag-closed {
        margin-left: .5vw;
    }

    .tag-closed:hover {
        margin-left: .5vw;
    }

    .tag-closed-all { 
        right: 9.5vw;
        margin-top: -.66vw;
        font-size: 1.5vw;
    }

    .dropdown {
        font-size: .97vw;
        width: 16vw;
        margin: 0 0 3vw 0;
    }
    
    .dropdown-header {
        font-size: 1vw;
        font-weight: bold;
        padding: 10px;
        border-radius: .5vw;
        margin-left: .3vw;
        margin-right: .3vw;
    }
    
    .dropdown-options {
        width: 15.42vw;
        height: 13vw;
        padding-bottom: 2vw;
    }
    
    .dropdown-options label {
        padding: 1.5vw 1vw 0 1vw;
    }

    .dropdown-options label input {
        margin-bottom: -.5vw;
    }

    .button-search {
        float: right;
        margin-right: 5.1vw;
        margin-left: -8vw;
        padding: .5vw;
        border-radius: .5vw;
        font-size: 1.5vw;
        box-shadow: rgba(0, 0, 0, 0.24) 0 .262vw .7vw;
    }
}