/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 991px ****************************************/

@media screen and (min-width: 992px) {

    /*******************************************************************************************************/
    /********************************************* agences-slide *******************************************/
    /*******************************************************************************************************/

    .dot {
        width: 1.2vw;
        height: 1.2vw;
    }
}

/********************************************* media queries *************************************************/
/************************** New rules if the screen is at more 1199px ****************************************/

@media screen and (min-width: 1200px) {

    /*******************************************************************************************************/
    /********************************************* agences-slide *******************************************/
    /*******************************************************************************************************/
    
    .agences-slide__filtre {
        width: 75.7vw;
        padding-left: 5vw;
        padding-right: 5vw;
        line-height: 5.11vw;
        border-radius: 10px;
    } 
    
    .agences-slide__filtre__arrow {
        font-size: 3.5vw;
    }

    .agences-slide__filtre__arrow__left {
        margin-left: -.8vw;
    }

    .agences-slide__filtre__arrow__right {
        margin-right: -.6vw;
    }

    .agences-slide__filtre__text {
        margin-top: 11vw;
        margin-bottom: 0;
        width: 43.8vw;
        line-height: 2.8vw;
        font-size: 2vw;
    }
    

    .agences-title {
        font-size: 2vw;
        font-weight: bold;
    }

    .agences-slide__filtre__more {
        border: .146vw;
        padding: 1.314vw 1.825vw 1.314vw 1.825vw;
        font-size: 1.46vw;
    }

    .agences-slide__filtre__container__dote {
        top: 5.3vw;
        width: 10vw;
    }

    .dot {
        width: 1vw;
        height: 1vw;
    }
}