/*******************************************************************************************************/
/********************************************* agences-slide *******************************************/
/*******************************************************************************************************/

.agences-slide {
    position: relative;
    left: 0;
    width: auto;
    height: auto;
    z-index: 2000;
}

.agences-slide__filtre {
    margin: auto;
    padding-top: 3vw;
    padding-left: 5vw;
    padding-right: 5vw;
    width: auto;
    height: auto ;
    font-size: 4vw;;
    font-weight: 500;
    line-height: 0;
    align-items: center;
}

.agences-slide__filtre__arrow {
    font-size: 4.5vw;
    cursor: pointer;
    color: rgba(255, 255, 255, .5);
    transition: color .4s;
}

.agences-slide__filtre__arrow:hover {
    color: white;
    transition: color .4s;
}

.agences-slide__filtre__arrow__left {
    float: left;
    margin-left: 2vw;
}

.agences-slide__filtre__arrow__right {
    float: right;
    margin-right: 2vw;
}

.agences-slide__filtre__text {
    width: 54.5vw;
    height: auto;
    margin-top: 10vw;
    margin-bottom: 5vw;
    line-height: 5vw;
    color: white;
}

.agences-slide__filtre__text__mail {
    color: rgb(255, 208, 217) !important; 
}

.agences-slide__filtre__text__mail:hover {
    text-decoration: underline;
}

.agences-slide__filtre__container__dote {
    position: absolute;
    top: 4.5vw;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: space-between;
    width: 13vw;
}

.dot {
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    transition: background-color .5s;
    cursor: pointer;
}

.dot:hover {
    background-color: rgb(206, 39, 73);
    transition: background-color .5s;
}

.dot-active {
    background-color: rgb(255, 148, 169);
}

.dot-inactive {
    background-color: rgba(158, 158, 158, 0.3);
}

.text-visible {
    display: inline-block;
}

.text-hidden {
    display: none;
}

/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 450px ****************************************/

@media screen and (min-width: 451px) {

    /*******************************************************************************************************/
    /********************************************* agences-slide *******************************************/
    /*******************************************************************************************************/

    .agences-slide__filtre {
        margin-top: 0;
        margin-bottom: 2.962vw;
        padding-top: 3.555vw;
        padding-left: 7vw;
        padding-right: 7vw;
        width: 100%;
        height: 53.333vw;
        font-size: 2.2vw;
        line-height: 0.888vw;
    } 

    .agences-slide__filtre__arrow {
        font-size: 3.5vw;
    }

    .agences-slide__filtre__arrow__left {
        margin-left: 0;
    }

    .agences-slide__filtre__arrow__right {
        margin-right: 0;
    }

    .agences-slide__filtre__text {
        width: 32.592vw;
        margin-top: 8vw;
        margin-bottom: 2.962vw;
        line-height: 3vw;
    } 
    
    .agences-slide__filtre__container__dote {
        width: 14vw;
    }
    
    .dot {
        width: 1.8vw;
        height: 1.8vw;
    }
}