/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 1199px ****************************************/

@media screen and (min-width: 1200px) {

    /**********************************************************************************************/
    /********************************************* vowd *******************************************/
    /**********************************************************************************************/

    .selection-slide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 18.27vw;
        margin-top: -1vw;
    } 

    .selection-slide__card {
        position: relative;
        width: 22.87vw;
        height: 16.07vw;
        margin-top: 0;
        margin-left: .15vw;
        border-radius: 10px;
        color: white;
        font-family: 'Open', sans-serif;
        overflow: hidden;
        z-index: 4000;
    }

    .selection-slide__card .selection-slide__card__img{
        width: 25vw;
        transition: width .4s;
    }

    .selection-slide__card:hover .selection-slide__card__img{
        width: 27vw;
        transition: width .4s;
    }

    .selection-slide__card__img {
        position: absolute;
        align-items: center;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: inline-block;
        width: 25vw;
        height: auto;
        z-index: -1;
    }

    .selection-slide__card__text__exclu {
        width: 10.96vw;
        /*transform: rotate(-20deg);*/
        margin-top: -14.61vw;
        padding: .51vw;
        font-size: 1.31vw;
        letter-spacing: .073vw;
        color: white;
        background-color: rgb(206, 39, 73);
    }

    .selection-slide__card__text {
        margin-top: 12.27vw;
        font-size: 1.24vw;
        font-weight: bold;
        line-height: .73vw;
        letter-spacing: .036vw;
        color: white !important;
    }

    .selection-slide__card__text__ville {
        text-align: left;
        margin-left: 1.09vw;
        margin-right: 1.09vw;
        font-size: 1.61vw;
        text-shadow: 0 0 1em rgb(1, 1, 1), 0 0 0.2em rgb(1, 1, 1);
    }

    .selection-slide__card__text__dp {
        display: flex;
        padding: 2vw 1.09vw 0 1.09vw;
        margin-top: -3.7vw;
        width: 100%;
        justify-content: space-between;
        text-shadow: 0 0 2em rgb(1, 1, 1), 0 0 0.6em rgb(1, 1, 1);
        /*background-color: rgba(6, 17, 22, .6);*/
    }
}