/************************************************************************************************************/
/************************************************* headerBanner *********************************************/
/************************************************************************************************************/

/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 767px ****************************************/

@media screen and (min-width: 768px) {

    /**********************************************************************************************/
    /****************************************** headerBanner **************************************/
    /**********************************************************************************************/

}

/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 991px ****************************************/

@media screen and (min-width: 992px) {

    /**********************************************************************************************/
    /****************************************** headerBanner **************************************/
    /**********************************************************************************************/

}

/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 1199px ****************************************/

@media screen and (min-width: 1200px) {

    /**********************************************************************************************/
    /****************************************** headerBanner **************************************/
    /**********************************************************************************************/

    .headerBanner__header__pic {
        width: 100%;
        margin-bottom: -.3vw;
    }

    .headerBanner__header__logo {
        margin-top : 2vw;
		margin-left: 5vw;
		width: 8vw;
    }
    
    .headerBanner__header__message {
        top: 5vw;
        font-size: 2.2vw;
        letter-spacing: .2vw;
    }
}