/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 767px ****************************************/

@media screen and (min-width: 768px) {

    /**********************************************************************************************/
    /******************************************** contact *****************************************/
    /**********************************************************************************************/

}

/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 991px ****************************************/

@media screen and (min-width: 992px) {

    /**********************************************************************************************/
    /******************************************** contact *****************************************/
    /**********************************************************************************************/

}

/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 1199px ****************************************/

@media screen and (min-width: 1200px) {

    /**********************************************************************************************/
    /******************************************** contact *****************************************/
    /**********************************************************************************************/
    
    .headerBanner__header {
        width: 100%;
        height: auto;
        margin: 0;
    }

    .headerBanner__header__pic {
        width: 100%;
        height: auto;
        margin-bottom: -.3vw;
        opacity: 1;
    }

    .headerBanner__header__logo {
        position: absolute;
        margin-top : 2vw;
		margin-left: 5vw;
		width: 8vw;
		height: auto;
        filter: drop-shadow(1px 3px 3px rgba(1, 1, 1, .35));
        z-index: 1000;
    }
    
    .headerBanner__header__message {
        position: absolute;
        top: 5vw;
        left: 50%;
        transform: translate(-50%, 0);
        font-family: 'Open', sans-serif;
        color: white;
        font-weight: 700;
        font-size: 2.2vw;
        letter-spacing: .2vw;
    }
}