/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 767px ****************************************/

@media screen and (min-width: 768px) {

    /**********************************************************************************************/
    /******************************************** estimation *****************************************/
    /**********************************************************************************************/
}

/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 991px ****************************************/

@media screen and (min-width: 992px) {

    /**********************************************************************************************/
    /******************************************** estimation *****************************************/
    /**********************************************************************************************/
    
    #estimation {
        margin-top: 1vw;
    }

    .button-estimation {
        margin-bottom: -1VW;
    }
}

/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 1199px ****************************************/

@media screen and (min-width: 1200px) {

    /*************************************************************************************************/
    /******************************************** estimation *****************************************/
    /*************************************************************************************************/

    .estimation-func {
        height: 50vw;
        font-size: 2vw;
    }

    .button-estimation {
        margin-bottom: -6VW;
    }

    #estimation {
       margin-bottom: -8vw;
    }
}