/**********************************************************************************************/
/******************************************** estimation *****************************************/
/**********************************************************************************************/

/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 450px ****************************************/

@media screen and (min-width: 451px) {

    /**********************************************************************************************/
    /****************************************** estimation ***************************************/
    /**********************************************************************************************/
}