
/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 991px ****************************************/

@media screen and (min-width: 992px) {

    /**********************************************************************************************/
    /********************************************* agences ****************************************/
    /**********************************************************************************************/
    
    .containerOffice__bloc {
        margin-top: -7vw;
        margin-bottom: 0;
    }
}

/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 1199px ****************************************/

@media screen and (min-width: 1200px) {

    /**********************************************************************************************/
    /********************************************* agences ****************************************/
    /**********************************************************************************************/

    #agences {
        top: 0;
    }

    .containerOffice__bloc {
        margin-top: -4;
        margin-bottom: -3.5vw;
    }

    .containerOffice__bloc__office__text__content {
        height: 31vw;
        margin-top: 10vw;
    }

    .sep {
        height: .3vw;
        margin: 10vw auto 0 auto;
    }
}