/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 1199px ****************************************/

@media screen and (min-width: 1200px) {

    /***************************************************************************************************/
    /********************************************* selection *******************************************/
    /***************************************************************************************************/

    .selection__container {
        margin: -3vw 0 0 0;
        padding: 3vw 3vw 5vw 3vw;
    }  

    .selection__container__header {
        margin: 2vw 0 2vw 0;
    }

    .selection__container__header__title {
        font-size: 2vw;
        letter-spacing: .2vw;
    }

    .selection__container__form {
        border-radius: 1vw;
    }

    .selection__container__text {
        margin: 0 auto -5vw auto;
        font-size: 1.2vw;
        line-height: auto;
        letter-spacing: .03vw;
    }
}