/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 1199px ****************************************/

@media screen and (min-width: 1200px) {

    /**********************************************************************************************/
    /********************************************* vowd *******************************************/
    /**********************************************************************************************/

    .selection__container {
        width: 100%;
        height: auto;
        text-align: center;
        margin: -2vw 0 0 0;
        padding: 5vw 3vw 3.2vw 3vw;
        background-color: rgb(13, 35, 44);
    }  
}