.selection__container {
    width: 100%;
    height: auto;
    text-align: center;
    margin: -20vw 0 0 0;
    padding: 10vw 5vw 3.2vw 5vw;
    background: linear-gradient(rgba(92, 100, 105, .5), rgba(92, 100, 105, .8), white);
}  

.selection__container__header {
    background: transparent;
    margin: 0 0 4vw 0;
}

.selection__container__header__title {
    font-family: 'Helvetica';
    font-size: 5.4vw;
    font-weight: 500;
    letter-spacing: .2vw;
}

.selection__container__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: auto;
    padding-top: 3vw;
    border-radius: 2.5vw;
    background-color: white;
    color: black;
}

.selection__container__text {
    margin-top: 7vw;
    font-family: 'Open', sans-serif;
    font-size: 4vw;
    line-height: 5.5vw;
    letter-spacing: .03vw;
    color: rgb(13, 37, 48);
}

/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 450px ****************************************/

@media screen and (min-width: 451px) {

    /**********************************************************************************************/
    /****************************************** selection *****************************************/
    /**********************************************************************************************/
	
    .selection__container {
        margin: -15vw 0 0 0;
        padding: 12vw 5vw 1.5vw 5vw;
    }  
    
    .selection__container__header {
        margin: 0 0 4vw 0;
    }
    
    .selection__container__header__title {
        font-size: 3vw;
        letter-spacing: .2vw;
    }
    
    .selection__container__form {
        padding-top: 1.5vw;
        border-radius: 1.5vw;
    }
    
    .selection__container__text {
        margin-top: 5.5vw;
        font-size: 2.3vw;
        line-height: 3.3vw;
    }
}